// ----------Lity----------

// =======> antd popover
.ant-popover {
    position: fixed !important;
    top: 60px !important;
    transform-origin: 50% -4px !important;
    padding-top: 10px !important;

    .ant-popover-content {
        .ant-popover-arrow {
            border-top-color: white !important;
            border-left-color: white !important;
            top: 6px;
        }
        .ant-popover-inner {
            border-radius: 9px;
            .ant-popover-inner-content {
                padding: 0;
            }
        }
    }
}
// ----------Header---------
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    padding: 12px;
    z-index: 3;
    padding-left: 40px;
    padding-right: 40px;

    background-image: url("../assets/image/header/backgroundHeader.jpg");
    background-size: cover;
    .row {
        .colum2 {
            a {
                img {
                    width: 150px;
                    height: 55px;
                }
            }
        }

        .colum10 {
            display: flex;
            align-items: center;

            // ------nav-pc-------
            .nav-pc {
                width: 100%;
                .colum9 {
                    ul {
                        display: flex;
                        justify-content: space-evenly;
                        margin-bottom: 0;
                        position: relative;
                        li {
                            list-style: none;
                            position: relative;
                            &:focus {
                                border: none;
                            }
                            a {
                                text-decoration: none;
                                color: white;
                                font-size: 17px;
                                transition: all 0.3s linear;
                                &:hover {
                                    color: #ffff33;
                                }
                            }
                            &:after {
                                content: "";
                                width: 100%;
                                height: 1.5px;
                                background-color: rgba(37, 243, 10, 0.678);
                                position: absolute;
                                bottom: -5%;
                                left: 0;
                                width: 0%;
                                transition: width 0.3s linear;
                            }
                            &:hover::after {
                                width: 100%;
                            }
                        }
                        &:after {
                            content: "";
                            width: 80%;
                            height: 1px;
                            background-color: rgba(245, 222, 179, 0.26);
                            position: absolute;
                            bottom: -10%;
                        }
                    }
                }
                .colum3 {
                    display: flex;
                    align-items: center;
                    .spanUserIcon {
                        width: 25px;
                        height: 25px;
                        border: 2px solid white;
                        border-radius: 50%;
                        cursor: pointer;
                        color: white;
                        background-color: rgba(255, 255, 255, 0.5);

                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    a {
                        font-size: 15px;
                        &:hover {
                            color: greenyellow;
                        }
                    }
                    .loginsignup {
                        display: flex;
                        align-items: center;
                        .userInfor {
                            display: inline-block;
                            cursor: pointer;
                            font-size: 15px;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;
                            width: 75%;
                            &:hover {
                                color: yellow !important;
                                transition: color 0.5s linear;
                            }
                        }

                        .powerOff {
                            border-radius: 20px;
                            border: none;
                            &:hover {
                                background: rgba(255, 255, 255, 0.692);
                                .iconPoweroff {
                                    color: yellow;
                                }
                            }
                        }
                        .btnLogout {
                            font-size: 15px;
                            background: white;
                            color: red !important;
                        }
                    }
                }
            }
            // -------nav-btn--------

            .nav-mobile {
                display: none;
                .btnshowdrawer {
                    font-size: 27px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 12px;
                }
            }
        }
    }
}
// showdrawer
.showdrawer {
        display: none;
    .ant-drawer-body {
        background-image: linear-gradient(to bottom right,
         rgba(255, 255, 0, 0.363),rgba(0, 0, 255, 0.137));
        .user_title {
            display: flex;
            justify-content: space-between;
            color: #0066FF;
            padding: 6px;

            &:hover{
                span:nth-child(1){
                    color: #FF3333;
                }
            }
            span:nth-child(1){
                font-size: 19px;
                transition: all linear .4s;
                .txt_taikhoan{
                    cursor: pointer;
                }
            }
            span:nth-child(2){
                .icontime{
                    font-size: 30px;
                    cursor: pointer;
                }
            }
        }
        .user_link {
            margin-top: 15px;
            font-size: 17px;
            
            p {
                cursor: pointer;
                color: #FF33CC;
                transition: all linear .4s;
                padding: 6px;
                &:hover{
                    color: red;
                    background-color: rgba(128, 128, 128, 0.459);
                   
                }
            }
        }
    }
}
/*------------------  Responsive ----------------*/
//==========>  1200px
@media screen and (max-width: 1200px) {
    .header {
        .row {
            .colum2 {
                a {
                    img {
                    }
                }
            }
            .colum10 {
                // -----nav-pc-------
                .nav-pc {
                    .colum9 {
                        ul {
                            li {
                                a {
                                }
                            }
                        }
                    }
                    .colum3 {
                    }
                }

                // -------nav-btn------
                .nav-btn {
                }
                .nav-mobile {
                    .row1 {
                        .colum6right {
                            .iconUser {
                            }
                        }
                        .colum6left {
                            .iconTimes {
                            }
                        }
                    }
                    .row2 {
                        ul {
                            li {
                                a {
                                }
                            }
                        }
                    }
                }

                .nav-overlay {
                }
            }
        }
    }
   
}

//===========> 992px
@media screen and(max-width:992px) {
    .header {
        .row {
            .colum2 {
                a {
                    img {
                        width: 80%;
                    }
                }
            }
            .colum10 {
                .nav-pc {
                    .colum9 {
                        ul {
                            li {
                                a {
                                }
                            }
                        }
                    }
                    .colum3 {
                        padding: 0;
                        .userLogin {
                            font-size: 14px;
                        }
                        .userSignup {
                            font-size: 14px;
                        }
                    }
                }
                .nav-btn {
                }
                .nav-mobile {
                    .row1 {
                        .colum6right {
                            .iconUser {
                            }
                        }
                        .colum6left {
                            .iconTimes {
                            }
                        }
                    }
                    .row2 {
                        ul {
                            li {
                                a {
                                }
                            }
                        }
                    }
                }

                .nav-overlay {
                }
            }
        }
    }
    
}

//============> 768px
@media screen and (max-width: 768px) {
    .ant-popover {
        display: none;
    }
    .header {
        .row {
            .colum2 {
                a {
                    img {
                        width: 100%;
                    }
                }
            }
            .colum10 {
                justify-content: flex-end;
                .nav-pc {
                    display: none;
                }

                .nav-mobile {
                    display: inline-block;
                }
            }
        }
    }
    .showdrawer{
        display: inline-block;
    }
}

// ===========> 576px

@media screen and(max-width:576px) {
    .header {
        .row {
            .colum2 {
                padding: 0;
                a {
                    img {
                    }
                }
            }
        }
    }
}

/*--------------- keyframes ---------------- */
@keyframes FadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes move {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

