.home{
    background-image:  linear-gradient(to bottom, rgba(255, 255, 255, 0.575),rgba(255, 255, 255, 0.644)),url('../assets/image/home/bghome.jpg')
    ;
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
   
}