.login{
    background-image: 
    linear-gradient(to bottom,rgba(255, 255, 0, 0.26),rgba(0, 0, 255, 0.331)),
    url('../assets/image/login_signup/backgroundSignUp_Login.jpg')
    ; 
    
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    width: 100%;
    height: 100%;

    

}

// -----> css Modal Login

.modalLogin{
    border-radius: 14px;
    .closeModalLogin{
        position: absolute;
        right: 0;
        transform: translate(50%, -50%);
        border-radius: 50%;
        background-color: yellowgreen !important;
        border-color: white !important;
        &:hover {
            background-color: rgb(182, 205, 50) !important;
        }
    }
    .formLogin{
        p {
            font-size: 20px;
            color: green00;
            font-weight: 600;
            letter-spacing: 3px;
            color: #3f33ff;
            margin-bottom: 14px;
        }
        form {
            .form-group{
                margin-bottom: 14px;
                input {
                    font-size: 13px;
                }
                .alert {
                    text-align: left;
                    font-size: 12px;
                    padding: 4px;
                    margin-bottom: 0;
                }
                
            }
           
        }
    }
}

// ------- validation ---------

// ========> 1200px
@media screen and (max-width: 1200px) {
    .modalLogin {
        width: 31% !important ;
    }
}
// ========> 992px
@media screen and (max-width: 992px) {
    .modalLogin {
        width: 37% !important;
        .formLogin{
            p{
                font-size: 18px;
            }
        }

    }
}

// ========> 768px

@media screen and (max-width: 768px) {
    .modalLogin {
        width: 50% !important ;
    }
}

// ========> 576px
@media screen and (max-width: 576px) {
    .modalLogin {
        width: 70% !important ;
    }
}
